@tailwind base;
@tailwind components;
@tailwind utilities;

.frFaYW .blockbuilder-branding {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    background: rgb(35, 47, 62);
    border-top: 1px solid rgb(14, 19, 24);
    z-index: 100;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    display: none;
}
